// Typography

$body-font: 'Lato', sans-serif;
$header-font: 'Droid Sans', sans-serif;

$h1-size: 2.618em;
$h2-size: 1.618em;
$h3-size: 1em;

// Colors

$color-1: #8499b1; // light blue
$color-2: #0E0D37; // purple
$color-3: #2f3069; // Blue

$light-gray: #9E9E9E; //light gray
$medium-gray: #737373; // medium gray
$dark-gray: #3B3B3B; // dark gray
$white: #FFF;  // pure white

// Text align

$center: center;
$left: left;

//Responsive breakpoints

$breakpoint-tablet: 43.75em; //700px
$breakpoint-large-tablet: 48em; //768px
$breakpoint-desktop: 62.5em; //1000px
$breakpoint-large-desktop: 71.875em; //1150px

//Skills graph Colors

$sixty: #0E1E60;
$seventy: #116897;
$eighty: #6FAD36;
$ninety: #077F4C;
$ninety_2: #d62d20;
$hundred: #890B00;

// $60: #21DBC9
// $70: #F1247A;
// $70_2: #3B3B3B;
// $80: #FF8226;
// $90: #22E476;
