.navLinks:hover,
.navLinks:active,
.navLinks:focus {
  color: $color-1;
  outline: none;
}

.imageLink:hover,
.imageLink:active,
.imageLink:focus {
  opacity: .5;
  outline: none;
}

button:hover,
button:active,
button:focus {
  transition: all .25s ease;
  color: $color-1;
  border-color: $color-1;
  outline: none;
}

.skillTag:hover {
  opacity: .5;
  outline: none;

  a {
    color: $color-2;
    font-weight: 900;
  }
}
