.navigation {
  @include padding(1em 0);
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 1.5em;
    float: right;
  }

  li {
    display: inline;
    @include padding(.5em);
    @media screen and (min-width: $breakpoint-tablet) {
      display: inline;
      @include padding(1em);
    }
    @media screen and (min-width: $breakpoint-desktop) {
      @include padding(1.5em);
    }
  }
}

.navFooterColor {
  background-color: $color-2;
}

.navLinks {
  transition: color .25s ease;
  color: $white;
  @include padding(1em 0);
}

.titleLink {
  list-style: none;
  @include padding(1em 0);
  @media screen and (min-width: $breakpoint-tablet) {
    float: left;
    @include padding(1em 0 1em 1em);
  }
}

.title {
  font: $h2-size $header-font;
  display: inline;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-left: 1em;
  }
}

// Header

.headerBackground {
  @include padding(5em 1em);
  @media screen and (min-width: $breakpoint-tablet) {
    @include padding(5em 4em);
  }
  @media screen and (min-width: $breakpoint-large-tablet) {
    @include padding(5em 4em);
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=63907;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    @include padding(10em);
  }
  @media screen and (max-width: $breakpoint-desktop){
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/stars.jpg");
  }
}

.description {
  color: $medium-gray;
  margin: 1em;
  @media screen and (min-width: $breakpoint-tablet) {
    margin: 1em;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin: 1.5em 12em;
  }
}

// Parallax background-image

.wrap {
  text-shadow: 5px 5px black;
}
.wrap h2, h4 {
  color: white;
  position: relative;
}
.wrap h2 {
  font-size: 2em;
}
.wrap h4 {
  font-size: 1em;
  font-weight: 400;
  padding: 0 10%;
}
.inner {
  display: none;
}

@media screen and (min-width: $breakpoint-tablet) {
  .wrap h2 {
    font-size: 6vw;
  }
  .wrap h4 {
    font-size: 2vw;
    padding: 0 10%;
  }
}

@media screen and (min-width: $breakpoint-large-tablet) {
  .wrap h4 {
    padding: 0 20%;
    font-size: 2vw;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .wrap, .inner {
    position: absolute;
    top: 30px;
    left: 0;
  }

  .wrap {
    display: inherit;
    width: 100%;
    height: 24em;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px black;
    overflow: hidden;
    z-index: -1;
    perspective: 2000;
    h2 {
      margin: 10% 0 0 0;
    }
  }

@media screen and (min-width: $breakpoint-large-desktop) {
  .wrap {
    h2 {
    font-size: 4em;
    margin: 100px 0 0 0;
    }
    h4 {
      font-size: 18px;
      padding: 0 10%;
    }
  }
}
  .inner {
    display: inherit;
    background: url(http://wallpapercave.com/wp/xX2GRj6.gif) repeat 0 0;
    background-size: 500px;
    width: 300%;
    height: 300%;
  }
}
